{% extends "base.html" %} {% load static %} {% block content %}
<!-- :::::::::::::: BAŞLIK 2 – Biz Kimiz? :::::::::::::: -->
<div class="container text-center py-4">
    <h2 class="fw-bold">اینجا دنیای بدون مرز شماست 😉</h2>
</div>
<!-- ...::: Strat About Hero Section :::... -->
<div class="about-hero-image">
    <div class="box-wrapper">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8">
                    <div class="about-hero-img text-center">
                        <img
                            class="img-fluid"
                            src='{% static "images/breadcrumb/breadcrumb-img-about-page.webp" %}'
                            alt="istanbulvar استانبول وار , واردات پوشاک زنانه , مردانه , بچگانه , دخترانه و پسرانه و اجناس اصل و اورجینال از ترکیه,  سبک زندگی مدرن و بدون مرز"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ...::: End About Hero Section :::... -->

<!-- :::::::::::::: BAŞLIK 3 – Neden Wigenzo? :::::::::::::: -->
<div class="container text-center py-4">
    <h2 class="fw-bold">اینجا چه خبره؟ 🤔</h2>
</div>
<!-- ...::: Strat About Section :::... -->
<div class="about-section section-fluid-270 section-top-gap-100">
    <div class="section-wrapper">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-center">
                <div class="col-10 col-lg-6 col-xl-4 col-xxl-5">
                    <div class="section-content">
                        <span class="title-tag m-0"
                            >سبک زندگی مدرن و بدون مرز</span
                        >
                        <h2 class="section-title-stylish">
                            استانبول وار<span></span> – اولین و تنها راه خرید
                            مستقیم اجناس اصل و اورجینال از ترکیه
                            <span>پوشاک , دکوری , اکسسوری و ...</span>
                        </h2>
                        <h6>
                            IstanbulVar – اولین و بهترین مرجع خرید مستقیم از
                            ترکیه در IstanbulVar ما افتخار می‌کنیم که به‌عنوان
                            اولین و معتبرترین مرجع واردات مستقیم پوشاک، اکسسوری
                            و لوازم دکوری از ترکیه فعالیت می‌کنیم. تمامی محصولات
                            ما از برندهای معروف ترک و دنیا تهیه شده و با سفارش
                            مستقیم شما، بدون واسطه وارد می‌شوند. ما اصالت کالا
                            را تضمین می‌کنیم و هر آنچه سفارش می‌دهید، دقیقاً
                            همان را دریافت می‌کنید – با ارسال سریع به سراسر
                            ایران.
                        </h6>
                        <p>
                            ✅ واردات مستقیم از ترکیه ✅ امکان خرید سفارشی از
                            تمام برندها ✅ ضمانت اصالت کالا ✅ تخفیف‌های فصلی و
                            پیشنهادهای ویژه ✅ پشتیبانی ۲۴ ساعته ✅ بازگشت
                            بی‌قید و شرط
                        </p>
                        <h6>
                            IstanbulVar یعنی دسترسی به جدیدترین ترندهای ترک و
                            جهان، با بهترین قیمت و مطمئن‌ترین خدمات. تجربه‌ای
                            متفاوت از خرید آنلاین، درست مثل خرید از قلب
                            استانبول!
                        </h6>
                        <p>🛍️ همین حالا سفارش بده و تفاوت رو احساس کن!</p>
                    </div>
                </div>
                <div class="col-10 col-lg-6 col-xl-7 col-xxl offset-xl-1">
                    <div class="image">
                        <img
                            src='{% static "images/about/about-section-img.webp" %}'
                            alt="Wigenzo Gaming"
                            class="img-fluid"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ...::: End About Section :::... -->

<!-- ...::: Strat Company Logo Section :::... -->
<div class="company-logo-section section-fluid-270 section-top-gap-100">
    <!-- :::::::::::::: BAŞLIK 4 – Mevcut Markalarımız :::::::::::::: -->
    <div class="container text-center py-4">
        <h2 class="fw-bold">برندهای ما</h2>
    </div>
    <div class="box-wrapper">
        <div class="company-logo-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <!-- Start Company Slider -->
                        <div class="company-slider">
                            <!-- Slider main container -->
                            <div class="swiper-container">
                                <!-- Additional required wrapper -->
                                <div class="swiper-wrapper">
                                    <!-- Slides -->
                                    <a
                                        href="#"
                                        class="company-slider-single-item swiper-slide"
                                    >
                                        <div class="image">
                                            <img
                                                class="img-fluid"
                                                src='{% static "images/company-logo/company-logo-1.png" %}'
                                                alt="برند ۱"
                                            />
                                        </div>
                                    </a>
                                    <a
                                        href="#"
                                        class="company-slider-single-item swiper-slide"
                                    >
                                        <div class="image">
                                            <img
                                                class="img-fluid"
                                                src='{% static "images/company-logo/company-logo-2.png" %}'
                                                alt="برند ۲"
                                            />
                                        </div>
                                    </a>
                                    <a
                                        href="#"
                                        class="company-slider-single-item swiper-slide"
                                    >
                                        <div class="image">
                                            <img
                                                class="img-fluid"
                                                src='{% static "images/company-logo/company-logo-3.png" %}'
                                                alt="برند ۳"
                                            />
                                        </div>
                                    </a>
                                    <a
                                        href="#"
                                        class="company-slider-single-item swiper-slide"
                                    >
                                        <div class="image">
                                            <img
                                                class="img-fluid"
                                                src='{% static "images/company-logo/company-logo-4.png" %}'
                                                alt="برند ۴"
                                            />
                                        </div>
                                    </a>
                                    <a
                                        href="#"
                                        class="company-slider-single-item swiper-slide"
                                    >
                                        <div class="image">
                                            <img
                                                class="img-fluid"
                                                src='{% static "images/company-logo/company-logo-5.png" %}'
                                                alt="برند ۵"
                                            />
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- End Company Slider -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ...::: End Company Logo Section :::... -->

{% endblock %}``` ````
