````django
{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- :::::::::::::: BAŞLIK 2 – Biz Kimiz? :::::::::::::: -->
<div class='container text-center py-4'>
    <h2 class='fw-bold'>ما که هستیم؟</h2>
</div>
<!-- ...::: Strat About Hero Section :::... -->
<div class='about-hero-image'>
    <div class='box-wrapper'>
        <div class='container'>
            <div class='row justify-content-center'>
                <div class='col-xl-8'>
                    <div class='about-hero-img text-center'>
                        <img class='img-fluid' src='{% static "images/breadcrumb/breadcrumb-img-about-page.webp" %}'
                            alt='لوازم جانبی گیمینگ Wigenzo'>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ...::: End About Hero Section :::... -->


<!-- :::::::::::::: BAŞLIK 3 – Neden Wigenzo? :::::::::::::: -->
<div class='container text-center py-4'>
    <h2 class='fw-bold'>چرا Wigenzo؟</h2>
</div>
<!-- ...::: Strat About Section :::... -->
<div class='about-section section-fluid-270 section-top-gap-100'>
    <div class='section-wrapper'>
        <div class='container-fluid'>
            <div class='row align-items-center justify-content-center'>
                <div class='col-10 col-lg-6 col-xl-4 col-xxl-5'>
                    <div class='section-content'>
                        <span class='title-tag m-0'>همواره بهترین فرصت‌ها</span>
                        <h2 class='section-title-stylish'>
                            Wigenzo<span></span> – بهترین سایت تجارت الکترونیک <span>گیمینگ</span>
                        </h2>
                        <p>
                            در Wigenzo، ما با ارائه باکیفیت‌ترین و کاملاً اورجینال‌ترین تجهیزات گیمینگ، تجربه‌ای
                            مطمئن در بازی را برای شما فراهم می‌کنیم. کیفیت محصولات ما تحت گارانتی است و امکان
                            ارسال سریع به تمام ایران را فراهم می‌سازیم. از آنجایی که در هر زمان حق بازگشت
                            بدون قید و شرط دارید، می‌توانید با خیال راحت خرید کنید. علاوه بر این، با کمپین‌ها
                            و تخفیفات منظم ما می‌توانید از فرصت‌های ویژه بهره‌مند شوید.
                        </p>
                    </div>
                </div>
                <div class='col-10 col-lg-6 col-xl-7 col-xxl offset-xl-1'>
                    <div class='image'>
                        <img src='{% static "images/about/about-section-img.webp" %}' alt='Wigenzo Gaming'
                            class='img-fluid'>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ...::: End About Section :::... -->


<!-- ...::: Strat Company Logo Section :::... -->
<div class='company-logo-section section-fluid-270 section-top-gap-100'>
    <!-- :::::::::::::: BAŞLIK 4 – Mevcut Markalarımız :::::::::::::: -->
    <div class='container text-center py-4'>
        <h2 class='fw-bold'>برندهای ما</h2>
    </div>
    <div class='box-wrapper'>
        <div class='company-logo-wrapper'>
            <div class='container-fluid'>
                <div class='row'>
                    <div class='col-12'>
                        <!-- Start Company Slider -->
                        <div class='company-slider'>
                            <!-- Slider main container -->
                            <div class='swiper-container'>
                                <!-- Additional required wrapper -->
                                <div class='swiper-wrapper'>
                                    <!-- Slides -->
                                    <a href='#' class='company-slider-single-item swiper-slide'>
                                        <div class='image'>
                                            <img class='img-fluid'
                                                src='{% static "images/company-logo/company-logo-1.png" %}'
                                                alt='برند ۱'>
                                        </div>
                                    </a>
                                    <a href='#' class='company-slider-single-item swiper-slide'>
                                        <div class='image'>
                                            <img class='img-fluid'
                                                src='{% static "images/company-logo/company-logo-2.png" %}'
                                                alt='برند ۲'>
                                        </div>
                                    </a>
                                    <a href='#' class='company-slider-single-item swiper-slide'>
                                        <div class='image'>
                                            <img class='img-fluid'
                                                src='{% static "images/company-logo/company-logo-3.png" %}'
                                                alt='برند ۳'>
                                        </div>
                                    </a>
                                    <a href='#' class='company-slider-single-item swiper-slide'>
                                        <div class='image'>
                                            <img class='img-fluid'
                                                src='{% static "images/company-logo/company-logo-4.png" %}'
                                                alt='برند ۴'>
                                        </div>
                                    </a>
                                    <a href='#' class='company-slider-single-item swiper-slide'>
                                        <div class='image'>
                                            <img class='img-fluid'
                                                src='{% static "images/company-logo/company-logo-5.png" %}'
                                                alt='برند ۵'>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- End Company Slider -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ...::: End Company Logo Section :::... -->


{% endblock %}```
````