{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ...::: Ekmek Kırıntısı (Breadcrumb) Bölümü Başlangıcı :::... -->
<div class='breadcrumb-section'>
    <div class='box-wrapper'>
        <div class='breadcrumb-wrapper breadcrumb-wrapper--style-1 pos-relative'>
            <div class='breadcrumb-bg'>
                <img src='{% static "images/breadcrumb/breadcrumb-img-product-details-page.webp" %}' alt=''>
            </div>
            <div class='breadcrumb-content section-fluid-270'>
                <div class='breadcrumb-wrapper'>
                    <div class='content'>
                        <h2 class='title'><span class='text-mark'>قرارداد فروش از راه دور</span> </h2>
                    </div>
                    <ul class='breadcrumb-nav'>
                        <li><a href='/'>صفحه اصلی</a></li>
                        <li>قرارداد فروش از راه دور</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ...::: Ekmek Kırıntısı (Breadcrumb) Bölümü Sonu :::... -->

<div class='container my-5'>

    <h4>۱. طرفین</h4>

    <h5>۱.۱. فروشنده:</h5>
    <p>
        نام شرکت: wigenzo <br>
        نشانی: Selimiye İskele Cd. No:47/9, Selimiye, 34668 Üsküdar/İstanbul<br>
        تلفن: +90 552 570 7128<br>
        شماره MERSIS: 0811147578000001<br>
        شماره ثبت شرکت: 464820-5<br>
        نشانی پست الکترونیک: info@wigenzo.com.tr<br>
    </p>

    <h5>۱.۲. خریدار:</h5>
    <p>
        نام/نام خانوادگی/عنوان: [در این قسمت نام و نام خانوادگی مشتری نوشته می‌شود]<br>
        نشانی: [در این قسمت نشانی مشتری نوشته می‌شود]<br>
        تلفن: [در این قسمت شماره تلفن مشتری نوشته می‌شود]<br>
        ایمیل: [در این قسمت ایمیل مشتری نوشته می‌شود]
    </p>

    <h4>۲. موضوع</h4>
    <p>
        موضوع این قرارداد فروش از راه دور، فروش و تحویل کالایی است که مصرف‌کننده در سایت اینترنتی
        www.wigenzo.com.tr متعلق به wigenzo به صورت الکترونیکی سفارش داده و مشخصات و قیمت آن در ذیل
        آمده است، مطابق مفاد قانون حمایت از مصرف‌کننده شماره 6502 و مقررات قراردادهای از راه دور،
        حقوق و تکالیف طرفین تعیین می‌شود. طرفین با امضای این قرارداد اعلام می‌کنند که تعهدات و
        مسئولیت‌های ناشی از قانون و مقررات یادشده را درک کرده و می‌پذیرند.
    </p>

    <h4>۳. اطلاعات محصول موضوع قرارداد، پرداخت و تحویل</h4>

    <h5>۳.۱. نام، تعداد، قیمت فروش (شامل مالیات بر ارزش افزوده)، روش پرداخت و ویژگی‌های اصلی کالای موضوع قرارداد:</h5>
    <p>
        نام و ویژگی‌های اصلی محصول: [در این قسمت نام محصول قرار می‌گیرد]<br>
        تعداد: [در این قسمت تعداد سفارش داده‌شده قرار می‌گیرد]<br>
        مبلغ فروش: [در این قسمت مبلغ قرار می‌گیرد]
    </p>

    <h5>۳.۲. نکات کلی</h5>
    <!-- Bu başlık altında ek açıklama yoksa boş bırakabilirsiniz veya genel koşullar ekleyebilirsiniz -->

    <h5>۳.۳. روش پرداخت: [در این قسمت روش پرداخت انتخاب‌شده توسط مشتری قرار می‌گیرد]</h5>
    <p>
        در بخش فوق، اطلاعات تعداد اقساطی که جمع کل سفارش به بانک شما ارسال می‌شود، آمده است.
    </p>
    <p>
        بانک شما ممکن است با ارائه طرح‌های تشویقی، تعداد قسط‌های بیشتر از تعداد انتخابی شما ارائه دهد
        یا خدماتی مانند تعویق قسط ارائه کند.
    </p>
    <p>
        این نوع طرح‌ها به تشخیص بانک شما بستگی دارد و در صورت اطلاع شرکت، اطلاعات مربوطه در صفحات ما درج می‌شود.
    </p>
    <p>
        جمع کل سفارش از تاریخ صدور صورت‌حساب کارت اعتباری شما به تعداد اقساط تقسیم شده و توسط بانک
        به صورت اقساطی در صورت‌حساب شما منظور می‌شود. بانک ممکن است با در نظر گرفتن اعشار مبالغ
        اقساط، آنها را به صورت مساوی در ماه‌ها تقسیم نکند. تهیه جزئیات برنامه پرداخت بر عهده
        بانک شما است.
    </p>

    <h5>۳.۴. از سوی دیگر، از آنجا که فروش اقساطی تنها با کارت‌های اعتباری بانک انجام می‌شود...</h5>
    <p>
        خریدار تأیید می‌کند، اظهار می‌دارد و متعهد می‌شود که نرخ‌های بهره مربوطه و اطلاعات مربوط
        به جریمه تأخیر را از بانک خود به طور جداگانه استعلام خواهد کرد و مطابق قوانین جاری،
        مقررات مربوط به بهره و جریمه تأخیر در چارچوب قرارداد کارت اعتباری بین بانک و خریدار اعمال
        خواهد شد.
    </p>

    <h5>۳.۵. رویه بازگشت کالا:</h5>

    <h6>۳.۵.۱. رویه برگشت وجه به کارت اعتباری</h6>
    <p>
        اگر خرید با کارت اعتباری و به صورت اقساطی انجام شده باشد، بانک بازپرداخت را به همان تعداد
        اقساطی که مصرف‌کننده پرداخت کرده است به صورت اقساطی به مصرف‌کننده باز می‌گرداند.
    </p>
    <p>
        پس از آنکه <strong>wigenzo</strong> مبلغ کامل کالا را یکجا به بانک پرداخت کرد، در صورت برگشت
        خریدهای اقساطی به کارت اعتباری مصرف‌کننده توسط بانک، مبالغ بازگشت در اقساط به حساب
        دارنده کارت به صورت اقساط توسط بانک واریز می‌شود تا هیچ یک از طرف‌های دخیل متضرر نشوند.
        مبلغ اقساط پرداخت‌شده توسط مصرف‌کننده تا زمان لغو فروش، در صورتی که تاریخ بازگشت و تاریخ
        صدور صورت‌حساب کارت تداخل نداشته باشد، هر ماه یک بازگشت به کارت منظور می‌شود و مصرف‌کننده
        علاوه بر اقساط کالا، به تعداد اقساط پرداخت‌شده بازگشتی نیز دریافت خواهد کرد که از بدهی
        وی کسر می‌شود.
    </p>
    <p>
        در صورت بازگشت کالا یا خدمات خریداری‌شده با کارت اعتباری، <strong>wigenzo</strong> طبق
        قرارداد خود با بانک نمی‌تواند پرداخت نقدی به مصرف‌کننده انجام دهد. wigenzo در زمان بازگشت
        کالا مبلغ را از طریق نرم‌افزار مربوطه به بانک اعلام می‌کند و از آنجا که متعهد است مبلغ
        را نقداً یا در صورت‌حساب بانک پرداخت کند، مطابق رویه فوق، پرداخت نقدی به مصرف‌کننده انجام
        نمی‌شود. بازگشت وجه به کارت اعتباری پس از پرداخت کامل مبلغ از سوی wigenzo به بانک و
        بر اساس رویه مذکور توسط بانک صورت می‌گیرد.
    </p>
    <p>
        مصرف‌کننده می‌پذیرد و تعهد می‌کند که این رویه را مطالعه کرده و مورد قبول خود می‌داند.
    </p>

    <h6>۳.۵.۲. رویه بازگشت وجه برای روش‌های پرداخت حواله/EFT</h6>
    <p>
        بازگشت وجه با درخواست اطلاعات حساب بانکی از مصرف‌کننده و به‌صورت حواله یا EFT به حساب
        اعلام‌شده توسط مصرف‌کننده (مشروط بر اینکه حساب به نام صاحب آدرس صورتحساب یا نام دارنده
        عضویت باشد) انجام می‌شود.
    </p>
    <p>
        <strong>wigenzo</strong> مبلغ کامل کالا را یکجا به بانک بازمی‌گرداند.
    </p>
    <p>
        در صورت بازگشت کالا یا خدمات پرداخت‌شده از طریق حواله/EFT، <strong>wigenzo</strong> طبق
        قرارداد خود با بانک نمی‌تواند پرداخت نقدی به مصرف‌کننده انجام دهد. wigenzo در زمان بازگشت
        وجوه، مبلغ را از طریق نرم‌افزار مربوطه به بانک اعلام می‌کند و از آنجا که موظف به پرداخت
        نقدی یا در صورت‌حساب به بانک است، مطابق رویه فوق پرداخت نقدی به مصرف‌کننده انجام نمی‌شود.
    </p>
    <p>
        مصرف‌کننده می‌پذیرد و تعهد می‌کند که این رویه را مطالعه کرده و مورد قبول خود می‌داند.
    </p>

    <h5>۳.۶. شیوه و آدرس تحویل:</h5>
    <p>
        آدرس تحویل: [در این قسمت آدرس تحویل مصرف‌کننده نوشته می‌شود]<br>
        شخص دریافت‌کننده: [در این قسمت نام و نام خانوادگی شخص دریافت‌کننده نوشته می‌شود]<br>
        آدرس صورتحساب: [در این قسمت آدرس صورتحساب مصرف‌کننده نوشته می‌شود]
    </p>
    <p>
        هزینه بسته‌بندی، حمل و نقل و تحویل بر عهده خریدار است. هزینه حمل برابر [مبلغ حمل] [واحد پول]
        است و به مجموع مبلغ سفارش افزوده می‌شود. این هزینه شامل قیمت کالا نمی‌باشد. تحویل کالا از
        طریق شرکت حمل و نقل طرف قرارداد، حضوری در آدرس فوق‌الذکر انجام می‌گیرد. حتی در صورت عدم
        حضور خریدار در زمان تحویل، انجام تحویل توسط شرکت ما به منزله انجام کامل تعهد تلقی خواهد شد.
        بنابراین <strong>wigenzo</strong> در قبال خسارات و هزینه‌های ناشی از تحویل دیرهنگام یا عدم
        تحویل کالا مسئولیتی ندارد. <strong>wigenzo</strong> مسئول ارسال کالا در وضعیت سالم، کامل،
        مطابق ویژگی‌های مندرج در سفارش و همراه با اسناد گارانتی و راهنمای کاربری (در صورت وجود)
        می‌باشد.
    </p>

    <h4>۴. حق فسخ</h4>
    <p>
        مصرف‌کننده حق دارد طی ۱۴ (چهارده) روز بدون ارائه دلیل و بدون پرداخت جریمه، از این قرارداد
        انصراف دهد. مهلت انصراف برای قراردادهای مربوط به ارائه خدمات از روز انعقاد قرارداد و برای
        قراردادهای مربوط به تحویل کالا از روزی آغاز می‌شود که کالا به خود مصرف‌کننده یا شخص
        ثالث معرفی‌شده توسط او تحویل شده است. با این حال، مصرف‌کننده می‌تواند در هر زمان بین
        انعقاد قرارداد و تحویل کالا نیز از حق انصراف خود استفاده کند. در تعیین مهلت انصراف توجه
        به موارد زیر ضروری است:
    </p>
    <ul>
        <li>در مورد کالاهایی که در یک سفارش موضوع شده ولی به‌صورت مجزا تحویل می‌شوند، روزی که آخرین کالا به خود
            مصرف‌کننده یا شخص ثالث معرفی‌شده توسط او تحویل می‌شود،</li>
        <li>در مورد کالاهای مرکب از چند قطعه، روزی که آخرین قطعه به خود مصرف‌کننده یا شخص ثالث معرفی‌شده توسط او تحویل
            می‌شود،</li>
        <li>در مورد قراردادهایی که طی مدت معینی تحویل منظم کالا صورت می‌گیرد، روزی که اولین کالا به خود مصرف‌کننده یا
            شخص ثالث معرفی‌شده توسط او تحویل می‌شود،</li>
    </ul>
    <p>
        مصرف‌کننده می‌تواند اعلام انصراف خود را قبل از پایان مهلت از طریق گزینه بازگشت کالا در صفحه حساب کاربری شخصی در
        وب‌سایت www.wigenzo.com.tr یا از طریق ابزارهای ارتباطی مندرج در بالا انجام دهد. حامل در قالب حق انصراف UPS تعیین
        شده است و جزئیات بازگشت کالا در گزینه بازگشت کالا در صفحه حساب کاربری شخصی در وب‌سایت www.wigenzo.com.tr توضیح
        داده شده است.
    </p>
    <p>در موارد زیر مصرف‌کننده نمی‌تواند از حق انصراف استفاده کند:</p>
    <ul>
        <li>قراردادهایی که مربوط به کالا یا خدماتی است که قیمت آنها به نوسانات بازارهای مالی وابسته بوده و تحت کنترل
            wigenzo یا تأمین‌کننده نیست.</li>
        <li>قراردادهایی که مربوط به کالاهایی است که مطابق درخواست یا نیازهای شخصی مصرف‌کننده تهیه شده‌اند.</li>
        <li>قراردادهای تحویل کالاهایی که سریعاً خراب می‌شوند یا تاریخ انقضای آنها ممکن است بگذرد.</li>
        <li>قراردادهایی که مربوط به کالاهایی است که پس از تحویل بسته‌بندی، نوار پلمب، مهر یا بسته‌بندی محافظ آنها باز
            شده باشد یا کالاهایی که از نظر بهداشتی و سلامتی قابل بازگشت نیستند (مانند هدفون و غیره).</li>
        <li>قراردادهایی که مربوط به کالاهایی است که پس از تحویل با سایر محصولات مخلوط شده و از نظر ماهوی جداسازی آنها
            ممکن نیست.</li>
        <li>قراردادهایی که مربوط به کتاب‌ها، محتوای دیجیتال و لوازم مصرفی رایانه‌ای است که پس از تحویل بسته‌بندی، نوار
            پلمب، مهر یا بسته‌بندی محافظ آنها باز شده باشد.</li>
        <li>قراردادهای مربوط به تحویل نشریات دوره‌ای مانند روزنامه و مجله (به جز مواردی که تحت قرارداد اشتراک ارائه
            می‌شود).</li>
        <li>قراردادهایی که مربوط به خدماتی است که باید در تاریخ یا دوره مشخصی انجام شود، مانند اقامت، حمل و نقل بار،
            اجاره خودرو، تأمین غذا و نوشیدنی، و ارائه خدمات تفریحی یا استراحت.</li>
        <li>قراردادهای مربوط به خدماتی که فوراً به صورت الکترونیکی اجرا می‌شوند یا کالاهای غیرمادی که فوراً در اختیار
            مصرف‌کننده قرار می‌گیرند.</li>
        <li>قراردادهای مربوط به خدماتی که پیش از انقضای مهلت انصراف و با رضایت مصرف‌کننده شروع به اجرا شده‌اند.</li>
    </ul>

    <h4>۵. مقررات عمومی</h4>
    <ol>
        <li>مصرف‌کننده اعلام می‌کند که پیش‌اطلاعات مربوط به کالای موضوع قرارداد را در سایت www.wigenzo.com.tr مطالعه
            کرده و با تأیید الکترونیکی، بر اطلاع کامل خود صحه گذاشته است.</li>
        <li>کالا حداکثر ظرف ۳۰ روز از تاریخ قرارداد تحویل خواهد شد. تا زمان تحویل کالا کلیه مسئولیت متوجه فروشنده است.
        </li>
        <li>اگر کالای موضوع قرارداد به شخص یا سازمان دیگری به غیر از مصرف‌کننده تحویل داده شود، فروشنده در صورت خودداری
            آن شخص/سازمان از تحویل، مسئول نخواهد بود.</li>
        <li>فروشنده مسئول تحویل کالا در وضعیت سالم، کامل، مطابق ویژگی‌های مندرج در سفارش و همراه با اسناد گارانتی و
            راهنمای کاربری (در صورت وجود) می‌باشد.</li>
        <li>برای تحویل کالا، پرداخت بهای آن از طریق روش پرداخت انتخابی مصرف‌کننده ضروری است. در صورت عدم پرداخت مبلغ
            کالا یا ابطال در سوابق بانکی به هر دلیل، فروشنده از تعهد تحویل کالا معاف می‌شود.</li>
        <li>پس از تحویل کالا، در صورتی که بدون قصور فروشنده، کارت اعتباری مصرف‌کننده به صورت غیرمجاز یا برخلاف مقررات
            توسط اشخاص غیر استفاده شود و بانک یا مؤسسه مالی مربوطه مبلغ کالا را به فروشنده پرداخت نکند، با فرض تحویل
            کالا به مصرف‌کننده، ارسال مجدد کالا به فروشنده الزامی است.</li>
        <li>در صورت معیوب بودن (خراب، آسیب‌دیده و غیره) کالای دارای یا فاقد ضمانت‌نامه و یا در صورت خرابی یا نقص در
            چارچوب شرایط ضمانت، انجام تعمیرات لازم در نمایندگی مجاز انجام می‌شود و کالا می‌تواند به فروشنده ارسال گردد.
            در چنین حالتی هزینه حمل و نقل توسط فروشنده تأمین خواهد شد.</li>
        <li>مطابق بخشنامه عمومی قانون مالیات‌های مستقیم شماره ۳۸۵، برای انجام فرآیند بازگشت کالا، فاکتوری که با بخش
            بازگشت کالا برای شما ارسال شده است باید پس از تکمیل دقیق و امضای جزء به جزء، همراه کالا برای ما بازگشت داده
            شود.</li>
        <li>در زمان تحویل کالا، کنترل و تشخیص وجود هرگونه خسارت ناشی از حمل و نقل بر عهده مصرف‌کننده است و در صورت ناقص
            بودن، آسیب‌دیدگی یا وجود عیب در بسته‌بندی، باید رسید تحویل توسط مأمور حمل و نقل تنظیم و از تحویل کالا
            خودداری شود. در موارد عدم تحویل کالا، در صورت اطلاع‌رسانی مصرف‌کننده به فروشنده، فروشنده مسئولیت تعهد خود را
            انجام داده و کالای جدید را فوراً ارسال می‌کند و در صورت تحویل کالا با بسته‌بندی آسیب‌دیده یا آسیب ناشی از
            حمل و نقل، فروشنده مسئول خسارت نخواهد بود.</li>
        <li>در صورت تشخیص معیوب بودن کالای موضوع قرارداد، مصرف‌کننده مطابق قانون حمایت از مصرف‌کننده شماره 6502
            می‌تواند:
            <ul>
                <li>اعلام آمادگی برای بازگرداندن کالا و فسخ قرارداد،</li>
                <li>نگه داشتن کالا و درخواست کاهش قیمت به نسبت نقص کالا،</li>
                <li>در صورت عدم نیاز به هزینه اضافی، درخواست تعمیر رایگان کالا با تحمل کلیه هزینه‌ها توسط فروشنده،</li>
                <li>در صورت امکان، درخواست تعویض کالا با کالای سالم هم‌ارزش،</li>
            </ul>
            یکی از حقوق اختیاری فوق را اعمال کند. فروشنده موظف است مطابق درخواست انتخابی مصرف‌کننده اقدام نماید.
        </li>
        <li>حقوق تعمیر رایگان یا تعویض با کالای هم‌ارزش می‌تواند علیه تولیدکننده یا واردکننده نیز اعمال شود و
            اطلاع‌رسانی در این خصوص با امضای این قرارداد به مصرف‌کننده ابلاغ شده است؛ مطابق قانون، فروشنده، تولیدکننده و
            واردکننده به طور تضامنی مسئول اجرای این حقوق هستند و تمامی هزینه‌های ناشی از اعمال حقوق اختیاری توسط فروشنده
            تأمین می‌شود.</li>
    </ol>

    <h4>۶. اختلاف و مرجع صالح</h4>
    <p>
        در خصوص اختلافات ناشی از این قرارداد، مرجع صالح؛ شورای حل اختلاف مصرف‌کننده در شهرستان یا استان محل اقامت
        مصرف‌کننده یا محل انجام معامله، یا دادگاه حقوقی مصرف‌کننده می‌باشد.
    </p>
    <p>
        طبق «اطلاعیه افزایش آستانه‌های مالی مندرج در ماده ۶ ضمیمه قانون حمایت از مصرف‌کننده شماره 6502 و آئین‌نامه شورای
        حل اختلاف مصرف‌کننده»، برای سال ۲۰۲۱ درخواست‌ها به شرح زیر بررسی می‌شوند:
    </p>
    <ul>
        <li>در اختلافاتی که ارزش آنها کمتر از ۷۵۵۰ لیر باشد، شورای حل اختلاف مصرف‌کننده شهرستان صالح است.</li>
        <li>در استان‌های دارای وضعیت کلان‌شهر، اختلافات با ارزش بین ۷۵۵۰/۰۰ تا ۱۱۳۳۰/۰۰ لیر، شورای حل اختلاف مصرف‌کننده
            استان صالح است.</li>
        <li>در مراکز استان‌های فاقد وضعیت کلان‌شهر، اختلافاتی که ارزش آنها کمتر از ۱۱۳۳۰/۰۰ لیر است، شورای حل اختلاف
            مصرف‌کننده استان صالح است.</li>
        <li>در شهرستان‌های تابع استان‌های فاقد وضعیت کلان‌شهر، اختلافاتی با ارزش بین ۷۵۵۰/۰۰ تا ۱۱۳۳۰/۰۰ لیر، شورای حل
            اختلاف مصرف‌کننده استان صالح است.</li>
        <li>در اختلافاتی که ارزش آنها بیش از ۱۱۳۳۰/۰۰ لیر باشد، دادگاه حقوقی مصرف‌کننده صالح خواهد بود.</li>
    </ul>
    <p>
        شورای حل اختلاف مصرف‌کننده استان در محدوده آن استان و شورای حل اختلاف مصرف‌کننده شهرستان در محدوده آن شهرستان
        صالح خواهد بود. در شهرستان‌هایی که شورای حل اختلاف مصرف‌کنند تشکیل نشده است، شورای مربوطه که توسط وزارت تعیین
        شده است، مسئول خواهد بود. درخواست‌ها می‌توانند به شورای حل اختلاف مصرف‌کننده در محل اقامت مصرف‌کننده یا محل
        انجام معامله ارائه شوند. در صورتی که شورای حل اختلاف مصرف‌کننده در آن شهرستان تشکیل نشده باشد، مصرف‌کنندگان
        می‌توانند برای ارائه درخواست به فرمانداری شهرستان مراجعه کنند.
    </p>
    <p>
        با ثبت سفارش، مصرف‌کننده ملزم به رعایت کلیه شرایط این قرارداد خواهد بود.
    </p>

    <p><strong>فروشنده:</strong> wigenzo</p>
    <p><strong>مصرف‌کننده:</strong> [در این قسمت نام مصرف‌کننده نوشته می‌شود]</p>
    <p><strong>تاریخ:</strong> [تاریخ به‌صورت خودکار ثبت می‌شود]</p>
</div>
{% endblock %}