{% extends "base.html" %} {% load static %} {% block content %}
<main class="content-wrapper">
    <!-- Breadcrumb -->
    <nav class="container pt-3 my-3 my-md-4" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">صفحه اصلی</a></li>
            <li class="breadcrumb-item active" aria-current="page">محصولات</li>
        </ol>
    </nav>

    <!-- Banners that are turned into collaspse on screens < 768px wide (sm breakpoint) -->
    <section class="accordion container pb-4 pb-md-5 mb-xl-3">
        <div class="accordion-item border-0">
            <div class="accordion-header d-md-none" id="offersHeading">
                <button
                    type="button"
                    class="accordion-button w-auto fw-medium collapsed border border-dashed border-danger border-opacity-50 rounded py-2 px-3"
                    data-bs-toggle="collapse"
                    data-bs-target="#offers"
                    aria-expanded="false"
                    aria-controls="offers"
                >
                    <span
                        class="d-inline-flex ci-percent fs-lg text-danger rounded-circle me-2"
                    ></span>
                    <span class="me-2">مشاهده آخرین پیشنهادها</span>
                </button>
            </div>
            <div
                class="accordion-collapse collapse d-md-block"
                id="offers"
                aria-labelledby="offersHeading"
            >
                <div class="row g-3 g-lg-4 pt-3 pt-md-0">
                    <div class="col-md-7">
                        <div
                            class="position-relative d-flex flex-column flex-sm-row align-items-center h-100 rounded-5 overflow-hidden px-5 px-sm-0 pe-sm-4"
                        >
                            <span
                                class="position-absolute top-0 start-0 w-100 h-100 d-none-dark rtl-flip"
                                style="
                                    background: linear-gradient(
                                        90deg,
                                        #accbee 0%,
                                        #e7f0fd 100%
                                    );
                                "
                            ></span>
                            <span
                                class="position-absolute top-0 start-0 w-100 h-100 d-none d-block-dark rtl-flip"
                                style="
                                    background: linear-gradient(
                                        90deg,
                                        #1b273a 0%,
                                        #1f2632 100%
                                    );
                                "
                            ></span>
                            <div
                                class="position-relative z-1 text-center text-sm-start pt-4 pt-sm-0 ps-xl-4 mt-2 mt-sm-0 order-sm-2"
                            >
                                <h2 class="h3 mb-2">آیفون ۱۴</h2>
                                <p class="fs-sm text-light-emphasis mb-sm-4">
                                    Apple iPhone 14 128GB آبی
                                </p>
                                <a
                                    class="btn btn-primary"
                                    href="shop-product-general-electronics.html"
                                >
                                    از ۸۹۹ دلار
                                    <i
                                        class="ci-arrow-up-right fs-base ms-1 me-n1"
                                    ></i>
                                </a>
                            </div>
                            <div
                                class="position-relative z-1 w-100 align-self-end order-sm-1"
                                style="max-width: 416px"
                            >
                                <div
                                    class="ratio rtl-flip"
                                    style="
                                        --cz-aspect-ratio: calc(
                                            320 / 416 * 100%
                                        );
                                    "
                                >
                                    <img
                                        src="{% static 'img/shop/electronics/banners/iphone-1.png' %}"
                                        alt="iPhone 14"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div
                            class="position-relative d-flex flex-column align-items-center justify-content-between h-100 rounded-5 overflow-hidden pt-3"
                        >
                            <span
                                class="position-absolute top-0 start-0 w-100 h-100 d-none-dark rtl-flip"
                                style="
                                    background: linear-gradient(
                                        90deg,
                                        #fdcbf1 0%,
                                        #fdcbf1 1%,
                                        #ffecfa 100%
                                    );
                                "
                            ></span>
                            <span
                                class="position-absolute top-0 start-0 w-100 h-100 d-none d-block-dark rtl-flip"
                                style="
                                    background: linear-gradient(
                                        90deg,
                                        #362131 0%,
                                        #322730 100%
                                    );
                                "
                            ></span>
                            <div
                                class="position-relative z-1 text-center pt-3 mx-4"
                            >
                                <i
                                    class="ci-apple text-body-emphasis fs-3 mb-3"
                                ></i>
                                <p class="fs-sm text-light-emphasis mb-1">
                                    پیشنهاد هفته
                                </p>
                                <h2 class="h3 mb-4">آی‌پد پرو M1</h2>
                            </div>
                            <a
                                class="position-relative z-1 d-block w-100"
                                href="shop-product-general-electronics.html"
                            >
                                <div
                                    class="ratio"
                                    style="
                                        --cz-aspect-ratio: calc(
                                            159 / 525 * 100%
                                        );
                                    "
                                >
                                    <img
                                        src="{% static 'img/shop/electronics/banners/ipad.png' %}"
                                        width="525"
                                        alt="iPad"
                                    />
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Selected filters + Sorting -->
    <section class="container mb-4">
        <div class="row">
            <div class="col-lg-9">
                <div class="d-md-flex align-items-start">
                    {% if not request.GET %}
                    <div
                        class="h6 fs-sm fw-normal text-nowrap translate-middle-y mt-3 mb-0 me-4"
                    >
                        در مجموع
                        <span class="fw-semibold">{{proudCount}} عدد</span>
                        محصول یافت شد
                    </div>
                    {% else %}
                    <div
                        class="h6 fs-sm fw-normal text-nowrap translate-middle-y mt-3 mb-0 me-4"
                    >
                        بر اساس فیلترها
                        <span class="fw-semibold">{{proudCount}} عدد</span>
                        محصول یافت شد
                    </div>

                    <a
                        type="button"
                        href="{% url 'shop:shop_list' %}"
                        class="btn btn-sm btn-secondary bg-transparent border-0 text-decoration-underline px-0 ms-2"
                    >
                        پاک کردن همه
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <hr class="d-lg-none my-3" />
    </section>

    <!-- Products grid + Sidebar with filters -->
    <section class="container pb-5 mb-sm-2 mb-md-3 mb-lg-4 mb-xl-5">
        <div class="row">
            <!-- Filter sidebar that turns into offcanvas on screens < 992px wide (lg breakpoint) -->
            <aside class="col-lg-3">
                <div class="offcanvas-lg offcanvas-start" id="filterSidebar">
                    <form
                        id="filterForm"
                        method="get"
                        action="{% url 'shop:shop_list' %}"
                    >
                        <div class="offcanvas-header py-3">
                            <h5 class="offcanvas-title">فیلتر و مرتب‌سازی</h5>
                            <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="offcanvas"
                                data-bs-target="#filterSidebar"
                                aria-label="Kapat"
                            ></button>
                        </div>

                        <div class="offcanvas-body flex-column pt-2 py-lg-0">
                            <!-- Categories -->
                            <div
                                class="w-100 border rounded p-3 p-xl-4 mb-3 mb-xl-4"
                            >
                                <h4 class="h6">دسته‌بندی‌ها</h4>
                                <div class="d-flex flex-column gap-1">
                                    {% for cat in categories|slice:":5" %}
                                    <div
                                        class="d-flex align-items-center justify-content-between"
                                    >
                                        <div class="form-check">
                                            {% with
                                            items=get_params|get_item:'category'
                                            %}
                                            <input
                                                {%
                                                if
                                                cat.slug
                                                in
                                                items
                                                %}checked{%
                                                endif
                                                %}
                                                type="checkbox"
                                                class="form-check-input"
                                                id="{{cat.slug}}"
                                                name="category"
                                                value="{{cat.slug}}"
                                            />
                                            {% endwith %}
                                            <label
                                                for="{{cat.slug}}"
                                                class="form-check-label text-body-emphasis"
                                                >{{cat.name}}</label
                                            >
                                        </div>
                                        <span class="text-body-secondary fs-xs"
                                            >{{cat.products.count}}</span
                                        >
                                    </div>
                                    {% endfor %}

                                    <div class="accordion mb-n2">
                                        <div class="accordion-item border-0">
                                            {% if categories|length > 5 %}
                                            <div
                                                class="accordion-collapse collapse"
                                                id="more-category"
                                            >
                                                <div
                                                    class="d-flex flex-column gap-1"
                                                >
                                                    {% for cat in
                                                    categories|slice:"5:" %}
                                                    <div
                                                        class="d-flex align-items-center justify-content-between"
                                                    >
                                                        <div class="form-check">
                                                            {% with
                                                            items=get_params|get_item:'category'
                                                            %}
                                                            <input
                                                                {%
                                                                if
                                                                cat.slug
                                                                in
                                                                items
                                                                %}checked{%
                                                                endif
                                                                %}
                                                                type="checkbox"
                                                                class="form-check-input"
                                                                id="{{cat.slug}}"
                                                                name="category"
                                                                value="{{cat.slug}}"
                                                            />
                                                            {% endwith %}
                                                            <label
                                                                for="{{cat.slug}}"
                                                                class="form-check-label text-body-emphasis"
                                                                >{{cat.name}}</label
                                                            >
                                                        </div>
                                                        <span
                                                            class="text-body-secondary fs-xs"
                                                            >{{cat.products.count}}</span
                                                        >
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <div class="accordion-header">
                                                <button
                                                    type="button"
                                                    class="accordion-button w-auto fs-sm fw-medium collapsed animate-underline py-2"
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#more-category"
                                                    aria-expanded="false"
                                                    aria-controls="more-category"
                                                    aria-label="Daha fazla"
                                                >
                                                    <span
                                                        class="animate-target me-2"
                                                        data-label-collapsed="نمایش همه"
                                                        data-label-expanded="نمایش کمتر"
                                                    ></span>
                                                </button>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Brand (checkboxes) -->
                            <div
                                class="w-100 border rounded p-3 p-xl-4 mb-3 mb-xl-4"
                            >
                                <h4 class="h6">برند</h4>
                                <div class="d-flex flex-column gap-1">
                                    {% for brand in brands|slice:":5" %}
                                    <div
                                        class="d-flex align-items-center justify-content-between"
                                    >
                                        <div class="form-check">
                                            {% with
                                            items=get_params|get_item:'brand' %}
                                            <input
                                                {%
                                                if
                                                brand.slug
                                                in
                                                items
                                                %}checked{%
                                                endif
                                                %}
                                                type="checkbox"
                                                class="form-check-input"
                                                id="{{brand.slug}}"
                                                name="brand"
                                                value="{{brand.slug}}"
                                            />
                                            {% endwith %}
                                            <label
                                                for="{{brand.slug}}"
                                                class="form-check-label text-body-emphasis"
                                                >{{brand.name}}</label
                                            >
                                        </div>
                                        <span class="text-body-secondary fs-xs"
                                            >{{brand.products.count}}</span
                                        >
                                    </div>
                                    {% endfor %}

                                    <div class="accordion mb-n2">
                                        <div class="accordion-item border-0">
                                            {% if brands|length > 5 %}
                                            <div
                                                class="accordion-collapse collapse"
                                                id="more-brands"
                                            >
                                                <div
                                                    class="d-flex flex-column gap-1"
                                                >
                                                    {% for brand in
                                                    brands|slice:"5:" %}
                                                    <div
                                                        class="d-flex align-items-center justify-content-between"
                                                    >
                                                        <div class="form-check">
                                                            {% with
                                                            items=get_params|get_item:'brand'
                                                            %}
                                                            <input
                                                                {%
                                                                if
                                                                brand.slug
                                                                in
                                                                items
                                                                %}checked{%
                                                                endif
                                                                %}
                                                                type="checkbox"
                                                                class="form-check-input"
                                                                id="{{brand.slug}}"
                                                                name="brand"
                                                                value="{{brand.slug}}"
                                                            />
                                                            {% endwith %}
                                                            <label
                                                                for="{{brand.slug}}"
                                                                class="form-check-label text-body-emphasis"
                                                                >{{brand.name}}</label
                                                            >
                                                        </div>
                                                        <span
                                                            class="text-body-secondary fs-xs"
                                                            >{{brand.products.count}}</span
                                                        >
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <div class="accordion-header">
                                                <button
                                                    type="button"
                                                    class="accordion-button w-auto fs-sm fw-medium collapsed animate-underline py-2"
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#more-brands"
                                                    aria-expanded="false"
                                                    aria-controls="more-brands"
                                                    aria-label="Daha fazla"
                                                >
                                                    <span
                                                        class="animate-target me-2"
                                                        data-label-collapsed="نمایش همه"
                                                        data-label-expanded="نمایش کمتر"
                                                    ></span>
                                                </button>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Price range -->
                            <div
                                class="w-100 border rounded p-3 p-xl-4 mb-3 mb-xl-4"
                            >
                                <h4 class="h6 mb-2" id="slider-label">قیمت</h4>
                                <div
                                    class="range-slider"
                                    data-range-slider='{
                                            "startMin": {{selected_min_price}},
                                            "startMax": {{selected_max_price}},
                                            "min": {{global_min_price}},
                                            "max": {{global_max_price}},
                                            "step": 1,
                                            "tooltipPrefix": "تومان"
                                            }'
                                    aria-labelledby="slider-label"
                                >
                                    <div class="range-slider-ui"></div>
                                    <div class="d-flex align-items-center">
                                        <div class="position-relative w-50">
                                            <i
                                                class="position-absolute top-50 start-0 translate-middle-y ms-3"
                                            ></i>
                                            <input
                                                hidden
                                                type="number"
                                                name="min_price"
                                                class="form-control form-icon-start"
                                                min="0"
                                                data-range-slider-min
                                            />
                                        </div>
                                        <div class="position-relative w-50">
                                            <i
                                                class="position-absolute top-50 start-0 translate-middle-y ms-3"
                                            ></i>
                                            <input
                                                hidden
                                                type="number"
                                                name="max_price"
                                                class="form-control form-icon-start"
                                                min="0"
                                                data-range-slider-max
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-3">
                                    <button
                                        type="submit"
                                        class="btn btn-primary w-100"
                                    >
                                        اعمال
                                    </button>
                                </div>
                            </div>

                            <!-- attributes(checkboxes) -->
                            {% for attrName, lst in attributesDict.items %}
                            <div
                                class="w-100 border rounded p-3 p-xl-4 mb-3 mb-xl-4"
                            >
                                <h4 class="h6">{{ attrName }}</h4>

                                <div class="d-flex flex-column gap-1">
                                    {% for value in lst|slice:":5" %}
                                    <div
                                        class="d-flex align-items-center justify-content-between"
                                    >
                                        <div class="form-check">
                                            <input
                                                {%
                                                if
                                                value.id
                                                in
                                                selectedAttributes
                                                %}checked{%
                                                endif
                                                %}
                                                type="checkbox"
                                                class="form-check-input"
                                                id="{{ attrName }}-{{ value.id }}"
                                                name="attribute"
                                                value="{{ value.id }}"
                                            />
                                            <label
                                                for="{{ attrName }}-{{ value.id }}"
                                                class="form-check-label text-body-emphasis"
                                            >
                                                {{ value.name }}
                                            </label>
                                        </div>
                                        <span class="text-body-secondary fs-xs"
                                            >{{ value.count }}</span
                                        >
                                    </div>
                                    {% endfor %}
                                </div>
                                {% if lst|length > 5 %}
                                <div class="accordion mb-n2">
                                    <div class="accordion-item border-0">
                                        <div
                                            class="accordion-collapse collapse"
                                            id="more-{{ attrName|slugify }}"
                                        >
                                            <div
                                                class="d-flex flex-column gap-1"
                                            >
                                                {% for value in lst|slice:"5:"
                                                %}
                                                <div
                                                    class="d-flex align-items-center justify-content-between"
                                                >
                                                    <div class="form-check">
                                                        <input
                                                            {%
                                                            if
                                                            value.id
                                                            in
                                                            selectedAttributes
                                                            %}checked{%
                                                            endif
                                                            %}
                                                            type="checkbox"
                                                            class="form-check-input"
                                                            id="{{ attrName }}-{{ value.id }}"
                                                            name="attribute"
                                                            value="{{ value.id }}"
                                                        />
                                                        <label
                                                            for="{{ attrName }}-{{ value.id }}"
                                                            class="form-check-label text-body-emphasis"
                                                        >
                                                            {{ value.name }}
                                                        </label>
                                                    </div>
                                                    <span
                                                        class="text-body-secondary fs-xs"
                                                        >{{ value.count }}</span
                                                    >
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="accordion-header">
                                            <button
                                                type="button"
                                                class="accordion-button w-auto fs-sm fw-medium collapsed animate-underline py-2"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#more-{{ attrName|slugify }}"
                                                aria-expanded="false"
                                                aria-controls="more-{{ attrName|slugify }}"
                                                aria-label="Daha fazla"
                                            >
                                                <span
                                                    class="animate-target me-2"
                                                    data-label-collapsed="نمایش همه"
                                                    data-label-expanded="نمایش کمتر"
                                                ></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                            {% endfor %}
                        </div>
                    </form>
                </div>
            </aside>

            <!-- Product grid -->
            <div class="col-lg-9">
                <div class="row row-cols-2 row-cols-md-3 g-4 pb-3 mb-3">
                    {% for product in page_obj %}
                    <!-- Item -->
                    <div class="col">
                        <div
                            class="product-card animate-underline hover-effect-opacity bg-body rounded"
                        >
                            <div class="position-relative">
                                <div
                                    class="position-absolute top-0 end-0 z-2 hover-effect-target opacity-0 mt-3 me-3"
                                >
                                    <div class="d-flex flex-column gap-2">
                                        {% if not product in wishlist_items %}
                                        <button
                                            type="button"
                                            class="btn btn-icon btn-secondary animate-pulse d-none d-lg-inline-flex wishlist-toggle-{{product.id}}"
                                            aria-label="Favorilere ekle"
                                            onclick='addToWishlist("{{ product.id }}")'
                                        >
                                            <i
                                                class="ci-heart fs-base animate-target"
                                            ></i>
                                        </button>
                                        {% else %}
                                        <button
                                            type="button"
                                            class="btn btn-icon btn-secondary animate-pulse d-none d-lg-inline-flex wishlist-toggle-{{product.id}}"
                                            aria-label="Favorilerden çıkar"
                                            onclick='removeFromWishlist("{{ product.id }}")'
                                        >
                                            <i
                                                class="ci-heart-filled fs-base animate-target"
                                            ></i>
                                        </button>
                                        {% endif %}
                                        <!-- <button type='button'
                                    class='btn btn-icon btn-secondary animate-rotate d-none d-lg-inline-flex'
                                    aria-label='Compare'>
                                    <i class='ci-refresh-cw fs-base animate-target'></i>
                                </button> -->
                                    </div>
                                </div>
                                <div
                                    class="dropdown d-lg-none position-absolute top-0 end-0 z-2 mt-2 me-2"
                                >
                                    <button
                                        type="button"
                                        class="btn btn-icon btn-sm btn-secondary bg-body"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false"
                                        aria-label="Diğer işlemler"
                                    >
                                        <i class="ci-more-vertical fs-lg"></i>
                                    </button>
                                    <ul
                                        class="dropdown-menu dropdown-menu-end fs-xs p-2"
                                        style="min-width: auto"
                                    >
                                        <li>
                                            <a
                                                class="dropdown-item"
                                                href="#!"
                                                onclick='addToWishlist("{{ product.id }}")'
                                            >
                                                <i
                                                    class="ci-heart fs-sm ms-n1 me-2"
                                                ></i>
                                                Favorilere ekle
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#!">
                                                <i
                                                    class="ci-refresh-cw fs-sm ms-n1 me-2"
                                                ></i>
                                                Karşılaştır
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <a
                                    class="d-block rounded-top overflow-hidden p-3 p-sm-4"
                                    href='{% url "shop:product_detail" product.slug %}'
                                >
                                    {% if product.discount_price %}
                                    <span
                                        class="badge bg-danger position-absolute top-0 start-0 mt-2 ms-2 mt-lg-3 ms-lg-3"
                                        >{{product.price|discount_percentage:product.discount_price}}%</span
                                    >
                                    {% endif %}

                                    <div
                                        class="ratio"
                                        style="
                                            --cz-aspect-ratio: calc(
                                                240 / 258 * 100%
                                            );
                                        "
                                    >
                                        {% with media=product.media.all|first %}
                                        {% if media %}
                                        <img
                                            src="{{media.normal_size.url}}"
                                            alt="{{product.name}}"
                                        />
                                        {% else %}
                                        <img
                                            src='{% static "img/default-prodct.png" %}'
                                            alt="{{product.name}}"
                                        />
                                        {% endif %} {% endwith %}
                                    </div>
                                </a>
                            </div>
                            <div
                                class="w-100 min-w-0 px-1 pb-2 px-sm-3 pb-sm-3"
                            >
                                <div
                                    class="d-flex align-items-center gap-2 mb-2"
                                >
                                    <div class="d-flex gap-1 fs-xs">
                                        {% for i in '12345' %} {% if
                                        product.rating >= forloop.counter %}
                                        <i
                                            class="ci-star-filled text-warning"
                                        ></i>
                                        {% elif product.rating >=
                                        forloop.counter0|add_decimal:'0.5' %}
                                        <i
                                            class="ci-star-half text-warning"
                                        ></i>
                                        {% else %}
                                        <i class="ci-star text-warning"></i>
                                        {% endif %} {% endfor %}
                                    </div>
                                    <span class="text-body-tertiary fs-xs"
                                        >{{product.rating}}</span
                                    >
                                </div>
                                <h3 class="pb-1 mb-2">
                                    <a
                                        class="d-block fs-sm fw-medium text-truncate"
                                        href='{% url "shop:product_detail" product.slug %}'
                                    >
                                        <span class="animate-target"
                                            >{{product.name}}</span
                                        >
                                    </a>
                                </h3>
                                <div
                                    class="d-flex align-items-center justify-content-between"
                                >
                                    {% if product.discount_price %}
                                    <div class="h5 lh-1 mb-0">
                                        {{product.discount_price|to_price}}
                                        <del
                                            class="text-body-tertiary fs-sm fw-normal"
                                            >{{product.price|to_price}}</del
                                        >
                                    </div>
                                    {% else %}
                                    <div class="h5 lh-1 mb-0">
                                        {{product.price|to_price}}
                                    </div>
                                    {% endif %}
                                    <button
                                        type="button"
                                        class="product-card-button btn btn-icon btn-secondary animate-slide-end ms-2"
                                        aria-label="Sepete ekle"
                                        onclick='addToCart("{{product.id}}", 1)'
                                    >
                                        <i
                                            class="ci-shopping-cart fs-base animate-target"
                                        ></i>
                                    </button>
                                </div>
                            </div>
                            <div
                                class="product-card-details position-absolute top-100 start-0 w-100 bg-body rounded-bottom shadow mt-n2 p-3 pt-1"
                            >
                                <span
                                    class="position-absolute top-0 start-0 w-100 bg-body mt-n2 py-2"
                                ></span>
                                <ul
                                    class="list-unstyled d-flex flex-column gap-2 m-0"
                                >
                                    {% for attr in product.attributes.all %} {%
                                    if attr.attribute.attribute_type ==
                                    'attributes' %}
                                    <li class="d-flex align-items-center">
                                        <span class="fs-xs"
                                            >{{attr.attribute}} -
                                            {{attr.key}}:</span
                                        >
                                        <span
                                            class="d-block flex-grow-1 border-bottom border-dashed px-1 mt-2 mx-2"
                                        ></span>
                                        <span
                                            class="text-dark-emphasis fs-xs fw-medium text-end"
                                            >{{attr.value}}</span
                                        >
                                    </li>
                                    {% endif %} {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <!-- Pagination -->
                {% if page_obj.has_other_pages %}
                <nav
                    class="border-top mt-4 pt-3"
                    aria-label="Katalog sayfalama"
                >
                    <ul class="pagination pagination-lg pt-2 pt-md-3">
                        <li
                            class="page-item {% if not page_obj.has_previous %}disabled{% endif %} me-auto"
                        >
                            <a
                                class="page-link d-flex align-items-center h-100 fs-lg px-2"
                                href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% if get_params %}&{{ get_params.urlencode }}{% endif %}{% else %}#!{% endif %}"
                                aria-label="Önceki sayfa"
                            >
                                <i class="ci-chevron-right mx-1"></i>
                            </a>
                        </li>

                        {% for num in page_obj.paginator.page_range %} {% if num
                        == page_obj.number %}
                        <li class="page-item active" aria-current="page">
                            <span class="page-link">
                                {{ num }}
                                <span class="visually-hidden">(geçerli)</span>
                            </span>
                        </li>
                        {% elif num > page_obj.number|add:'-3' and num <
                        page_obj.number|add:'3' %}
                        <li class="page-item">
                            <a
                                class="page-link"
                                href="?page={{ num }}{% if get_params %}&{{ get_params.urlencode }}{% endif %}"
                            >
                                {{ num }}
                            </a>
                        </li>
                        {% endif %} {% endfor %} {% if
                        page_obj.paginator.num_pages > page_obj.number|add:'2'
                        %}
                        <li class="page-item">
                            <span class="page-link pe-none">...</span>
                        </li>
                        <li class="page-item">
                            <a
                                class="page-link"
                                href="?page={{ page_obj.paginator.num_pages }}{% if	get_params %}&{{ get_params.urlencode }}{% endif %}"
                            >
                                {{ page_obj.paginator.num_pages }}
                            </a>
                        </li>
                        {% endif %}

                        <li
                            class="page-item {% if not page_obj.has_next %}disabled{% endif %} ms-auto"
                        >
                            <a
                                class="page-link d-flex align-items-center h-100 fs-lg px-2"
                                href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% if get_params %}&{{ get_params.urlencode }}{% endif %}{% else %}#!{% endif %}"
                                aria-label="Sonraki sayfa"
                            >
                                <i class="ci-chevron-left mx-1"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
                {% endif %}
            </div>
        </div>
    </section>

    <script>
        window.addEventListener("load", function () {
            const form = document.getElementById("filterForm");
            if (!form) return;

            // checkbox ve number input'lar
            form.querySelectorAll('input[type="checkbox"]').forEach((input) => {
                input.addEventListener("change", () => form.submit());
                input.addEventListener("input", () => form.submit());
            });
        });
    </script>
</main>

{% endblock %}
