{% load static %}

<head>
    <meta charset="utf-8" />

    <!-- Viewport -->
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover"
    />

    <!-- SEO Meta Tags -->
    <title>استانبول وار</title>
    <meta
        name="description"
        content="istabulvar واردات پوشاک اورجینال و اصل از ترکیه زنانه , مردانه , بچگانه , پسرانه و دخترانه , زارا , دفاکتو , کوتون , نایک , آدیداس , اچ اند ام , مانگو , برشکا , کلوین کلاین  ,ویکتوریا سکرت , شاین "
    />
    <meta
        name="description"
        content="واردات اجناس اورجینال , پوشاک و اکسسوری , دکوری , لوازم منزل , اصل از ترکیه istanbulvar , defacto , zara , nike , adidas , h&m , mongo , bershka , calvin klein , victoria secret , shein , koton "
    />
    <meta
        name="keywords"
        content="فروشگاه آنلاین، تجارت الکترونیک، فروشگاه آنلاین، بازار، چندمنظوره، صفحه لندینگ محصول، سبد خرید، پرداخت، کیت رابط کاربری، حالت روشن و تاریک، bootstrap، html5، css3، javascript، گالری، اسلایدر، موبایل، pwa"
    />
    <meta name="author" content="Createx Studio" />

    <!-- Webmanifest + Favicon / App icons -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="manifest" href='{% static "manifest.json" %}' />

    <link
        rel="icon"
        type="image/png"
        href='{% static "app-icons/icon-32x32.png" %}'
        sizes="32x32"
    />
    <link
        rel="apple-touch-icon"
        href='{% static "app-icons/icon-180x180.png" %}'
    />

    <!-- Preloaded local web font (Inter) -->
    <link
        rel="preload"
        href='{% static "fonts/inter-variable-latin.woff2" %}'
        as="font"
        type="font/woff2"
        crossorigin=""
    />

    <!-- Font icons -->
    <link
        rel="preload"
        href='{% static "icons/cartzilla-icons.woff2" %}'
        as="font"
        type="font/woff2"
        crossorigin=""
    />
    <link
        rel="stylesheet"
        href='{% static "icons/cartzilla-icons.min.css" %}'
    />

    <!-- Vendor styles -->
    <link
        rel="stylesheet"
        href='{% static "vendor/swiper/swiper-bundle.min.css" %}'
    />
    <link
        rel="stylesheet"
        href='{% static "vendor/nouislider/nouislider.min.css" %}'
    />

    <!-- Bootstrap + Theme styles -->
    <link
        rel="stylesheet"
        href="{% static 'css/theme.rtl.min.css' %}"
        id="theme-styles"
    />
    <link
        rel="stylesheet"
        href='{% static "vendor/drift-zoom/drift-basic.min.css" %}'
    />
    <link
        rel="stylesheet"
        href='{% static "vendor/simplebar/simplebar.min.css" %}'
    />
    <link
        rel="stylesheet"
        href='{% static "vendor/choices.js/choices.min.css" %}'
    />

    <!--  <head> -->
    <link
        href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300;400;500;700&display=swap&subset=latin,arabic"
        rel="stylesheet"
    />

    <style>
        :root {
            --bs-body-font-family: "Vazirmatn", sans-serif;
            --bs-heading-font-family: "Vazirmatn", sans-serif;
        }
    </style>
</head>
