{% load static %}

<!-- Wishlist offcanvas -->
<div
    class="offcanvas offcanvas-end pb-sm-2 px-sm-2"
    id="Wishlist"
    tabindex="-1"
    aria-labelledby="WishlistLabel"
    style="width: 500px"
>
    <!-- Header -->
    <div class="offcanvas-header flex-column align-items-start py-3 pt-lg-4">
        <div
            class="d-flex align-items-center justify-content-between w-100 mb-3 mb-lg-4"
        >
            <h4 class="offcanvas-title" id="shoppingCartLabel">
                علاقه‌مندی‌های من
            </h4>
            <button
                type="button"
                class="btn-close"
                data-bs-dismiss="offcanvas"
                aria-label="بستن"
            ></button>
        </div>
    </div>

    <div class="offcanvas-body wishlistContainer" id="wishlistContainer">
        {% include "partials/wishlist_items.html" %}
    </div>
</div>
