{% load static %}

<!-- Subscription form + Vlog -->
<section class="bg-body-tertiary py-5">
    <div class="container pt-sm-2 pt-md-3 pt-lg-4 pt-xl-5">
        <div class="row">
            <div class="col-md-6 col-lg-5 mb-5 mb-md-0">
                <h2 class="h4 mb-2">در خبرنامه ما مشترک شوید</h2>
                <p class="text-body pb-2 pb-ms-3">
                    آخرین به‌روزرسانی‌ها درباره محصولات و کمپین‌های ما را دریافت
                    کنید
                </p>
                <form
                    class="d-flex needs-validation pb-1 pb-sm-2 pb-md-3 pb-lg-0 mb-4 mb-lg-5"
                    novalidate
                >
                    <div class="position-relative w-100 me-2">
                        <input
                            type="email"
                            class="form-control form-control-lg"
                            placeholder="ایمیل شما"
                            required
                        />
                    </div>
                    <button type="submit" class="btn btn-lg btn-primary">
                        مشترک شوید
                    </button>
                </form>
                <div class="d-flex gap-3">
                    <a
                        class="btn btn-icon btn-secondary rounded-circle"
                        href="https://www.instagram.com/pscgameshop"
                        aria-label="Instagram"
                        target="_blank"
                    >
                        <i class="ci-instagram fs-base"></i>
                    </a>
                    <a
                        class="btn btn-icon btn-secondary rounded-circle"
                        href="https://wa.me/+989219869325"
                        aria-label="whatsapp"
                        target="_blank"
                    >
                        <i class="ci-whatsapp fs-base"></i>
                    </a>
                    <!-- <a class="btn btn-icon btn-secondary rounded-circle" href="#!" aria-label="Facebook">
                            <i class="ci-facebook fs-base"></i>
                        </a> -->
                    <!-- <a class="btn btn-icon btn-secondary rounded-circle" href="#!" aria-label="YouTube">
                            <i class="ci-youtube fs-base"></i>
                        </a> -->
                    <!-- <a class="btn btn-icon btn-secondary rounded-circle" href="#!" aria-label="Telegram">
                            <i class="ci-telegram fs-base"></i>
                        </a> -->
                </div>
            </div>
        </div>
    </div>
</section>
